/* Use a more accessible font and set default font size and line height */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Improve readability and spacing on smaller screens */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Optimize styles for medium-sized screens */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Enhance styles for larger screens */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}

/* PhoneBook Container */
.phonebook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px; /* Add margin-top for spacing */
  padding: 0 16px;
  box-sizing: border-box;
}

/* Search Field */
.searchField {
  margin-bottom: 16px;
}

/* List Item */
.listItem {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listItemPrimary {
  color: #333;
  font-weight: bold;
}

.listItemSecondary {
  color: #777;
}

.noResultsText {
  color: #777;
  text-align: center;
  margin: auto;
  font-size: 18px;
}
